.slideInButton1 {
    position: absolute;
    right: 0;
    overflow-x: hidden;
    top: 200px;
    display: flex;
    align-items: center;
    width: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 20px 20px 0px;
    margin-right: 5px;
    border-radius: 20px 0px 0px 20px;
    background: transparent;
    transition: width 0.3s ease;
  }
  
  .slideInButton1:hover {
    width: 200px;
  }
  
  .slideInButton2 {
    position: absolute;
    right: 0;
    overflow-x: hidden;
    top: 270px;
    display: flex;
    align-items: center;
    width: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 20px 20px 0px;
    margin-right: 5px;
    border-radius: 20px 0px 0px 20px;
    background: transparent;
    transition: width 0.3s ease;
  }
  
  .slideInButton2:hover {
    width: 200px;
  }
  
  .slideInContents {
    background-color: #fff;
    height: 45px;
    width: 200px;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    flex-direction: row;
    outline: none;
    border: none;
  }
  
  .slideInContents img {
    margin-left: 10px;
    border-radius: 20px;
    height: 25px;
    width: 25px;
  }
  
  .slideInContents p {
    margin: 0;
  }
  